@using Microsoft.AspNetCore.Identity
@inject SignInManager<TTS.Domain.Identity.TTSApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TTS.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="pt-5 mt-5">
    <div class="container-fluid">
        <div>
            <nav class="navbar navbar-dark bg-dark fixed-top shadow-lg p-3">
                <div class="container-fluid shadow-lg">

                    <button class="btn btn-outline-warning w-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <i class="bi bi-boxes"></i>
                    </button>
                    <a class="text-light text-capitalize" asp-controller="Home" asp-action="Index">Technology Transfer System</a>

                    
                    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                        <div class="offcanvas-header bg-info bg-opacity-75">
                            <h5 class="offcanvas-title text-opacity-75 text-black text-capitalize" id="offcanvasDarkNavbarLabel">Technology Transfer System</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="d-flex flex-column justify-content-between offcanvas-body bg-dark">
                            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active text-warning" asp-controller="Home" asp-action="Index">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Projects" asp-action="Index">My Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">My Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Other consultants</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Clients</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Settings</a>
                                </li>
                            </ul>
                            <footer class="border-top pt-3">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link text-light p-2">
                                            <i class="bi bi-box-arrow-left"></i>
                                            Logout
                                        </button>
                                    </form>

                                }
                            </footer>
                        </div>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>
        
        <div class="mx-5 px-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
   </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FINKI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
