
<ul class="navbar-nav row">
    <li class="nav-item nav-link">
        <form class="form-inline" method="post">
            <button type="submit" class="btn btn-link text-dark"><i class="bi bi-box-arrow-in-righ me-2"></i>Logout</button>
        </form>
    </li>
</ul>
