@using Microsoft.AspNetCore.Identity
@inject SignInManager<TTS.Domain.Identity.TTSApplicationUser> SignInManager
@inject UserManager<TTS.Domain.Identity.TTSApplicationUser> UserManager

<ul class="navbar-nav flex-row">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-3 link-opacity-75-hover">
            <a class="nav-link text-light p-2 btn btn-outline-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здраво @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link text-light btn btn-outline-info p-2">
                    <i class="bi bi-box-arrow-left"></i>
                    Одјави се
                </button>
        </form>
    </li>
}
else
{
    <li class="nav-item me-3">
            <a class="nav-link text-light btn btn-outline-info px-2" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-door-open me-1"></i>
                Регистрирај се
            </a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-info px-2" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right me-1"></i>
                Најави се
           </a>
    </li>
}
</ul>
